{
    "development": {
        "port": 5300,
        "api": "/api",
        "dbPort": 5432,
        "tmpPath": "http://localhost:5300/tmp/",
        "dbHost": "ciaoindonesia.com",
        "dbPass": "sampit123",
        "dbUser": "postgres",
        "dbName": "komonas"
    }
}